* {
  margin: 0;
  padding: 0;
}

.main-img {
  background-image: url("main-img.jpeg");
  background-position: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 30px;
  justify-content: center;
}

.parallax1 {
  background-image: url("First.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
}

.content {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  border: 4px solid red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150%;
}

.red-letter {
  color: red;
}

.content h1 {
  margin: 40px;
  font-size: 4em;
}

.content h2 {
  font-size: 50px;
}

.parallax2 {
  background-image: url("Second.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
}
.parallax3 {
  background-image: url("Third.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
}
.parallax4 {
  background-image: url("Fourth.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
}
.parallax5 {
  background-image: url("Fifth.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
}

.parallax6 {
  background-image: url("Sixth.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
}
